# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

steps:
# - task: NodeTool@0
#  inputs:
#    versionSpec: '10.x'
#  displayName: 'Install Node.js'

- task: Npm@1
  inputs:
    command: 'install'

#- script: 
#    npm i -g azure-functions-core-tools --unsafe-perm true
#  displayName: 'func tools install'

- task: Npm@1
  inputs:
    command: 'install'
  displayName: 'npm install'

- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: "run build"
  displayName: 'npm run build'
  
- task: Npm@1
  inputs:
    command: 'custom'
    customCommand: "run test"
  displayName: 'npm test'

- task: AzureFunctionApp@1
  inputs:
    azureSubscription: 'ShareshiftSubscription(8e95e0bb-d7cc-4454-9443-75ca862d34c1)'
    appType: 'functionApp'
    appName: 'mzratecardfunc'
    appSettings: '-databaseId Configurator -skucontainer Skus -ratecontainer Rates -filecache "D\\HOME\\"'
